<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Document</title>
</head>
<body>
    <div class="nav-bar"></div>
    <div id="first-app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            
            <div class="product-info">
                <h1>{{ productName }} </h1>
                <p v-if="onSale">On Sale Now!<span class="cart">Cart ({{cart}})</span></p>
                <h3>
                    {{ productDescription}}
                </h3>
                <div v-for="each in colours":key="each.id"
                    @mouseover="updateProduct(each.image)" 
                    :style="{backgroundColor:each.coloursChoice}"
                    class="color-box">
                </div>
                <!-- You can shorthand v-bind:element to just :element -->
                <p>Click <a :href="link">link</a> for more info</p>

                <button @click="removeFromCart">-</button>
                <button @click="addToCart">+</button>
                
            </div>
        </div>
    </div>



    <!-- VUE script -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Personal JavaScript -->
    <script src="script.js"></script>
</body>
</html>